---
layout: default
---

<div class="home container">

  <div id="MainContent" class="column-md-6 column-offset-2">

    <span style="font-family:'Lexend Giga'; font-size:40px">Jaden Feddock</span>
    <br/>
    <span style="font-family:'Montserrat' sans-serif; font-size:32px">TECHNOLOGY &nbsp; || &nbsp; INNOVATION &nbsp; || &nbsp; YOUTUBE</span>

    <br />

    <p class="main-para">
      Software engineer, technology consultant, startup CEO, and dad.
      <br />
      Always looking for new, innovative ideas to share with the world of fellow technology-lovers.
      <br />
      Check out the latest on YouTube
    </p>

    <br />

    <a href="https://twitter.com/jadenfeddock?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-screen-name="false" data-show-count="false">Follow @JadenFeddock</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

    <div class="g-ytsubscribe" data-channelid="UC-koXV-w5YB4LdUpqFtS53w" data-layout="default" data-count="default"></div>

  </div>



</div>
